@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',
    sans-serif;
}
body{
    background-color: #006778;
    overflow: hidden;
}
.wrapper{
    max-width: 405px;
    background: #EEEEEE;
    margin: 135px auto;
    border-radius: 7px;
    padding: 28px 0;
}
.task-input{
    height: 52px;
    padding: 0 25px;
    position: relative;
}
.task-input img{
    position: absolute;
    top: 50%;
    transform: translate(17px , -50%);
}
.task-input input{
    height: 100%;
    width: 100%;
    font-size: 18px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #006778;
    padding: 0 23px 0 53px;
}
.task-input :-ms-input-placeholder{
    color: #bfbfbf;
}
.controls ,li{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.controls{
    padding: 18px 25px;
    border-bottom: 1px solid #ccc;
}
.filters span{
    margin: 0 8px;
    font-size: 17px;
    cursor: pointer;
}
.filters span:first-child{
    margin-left: 0;
}
.filters span.active{
    color: #006778;
}
.controls .clear-btn{
    outline: none;
    border: none;
    border-radius: 4px;
    color: #fff;
    background: #006778 ;
    cursor: pointer;
    font-size: 13px;
    padding: 7px 13px;
    /* letter-spacing: 0.3px;
    pointer-events: none;
    transition: transform 0.25s ease;
    background: linear-gradient(135deg, #1798fb 0%, #2D5CFE 100%); */
}
.task-box{
    margin: 20px 25px;
}
.task-box .task{
    list-style: none;
    font-size: 17px;
    margin-bottom: 18px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
}
.task-box .task:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}
.task-box label{
    display: flex;
}
.task label input{
    margin-top: 6px;
    margin-right: 12px;
}